#eShopAUNZ-body {
    width: 320px;
    height: 200px;
    background-color: #ff7f00;
    color: white;
}

h1 {
    color: white;   
}

[data-price-box='info'] p span.aunz-primary {
	background-color: #e60012;
}

[data-price-box='purchase_btn'] button, [data-price-box='purchase_btn'] a {
    font-family: proxima-nova-condensed;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    margin: 0 6px 12px 0;
    padding: 8px 4px 4px;
    color: #000;
    display: block;
    text-align: center;
    border: none;
    border-radius: 4px;
    background: #fc0;
    background: -webkit-linear-gradient(#fc0, #ffa700);
    background: -o-linear-gradient(#fc0, #ffa700);
    background: -moz-linear-gradient(#fc0, #ffa700);
    background: linear-gradient(#fc0, #ffa700);
    line-height: 1.42857143;
}